Package: ${project.artifactId}-${build}
Version: ${versiontimestamp}
Section: base
Priority: optional
Architecture: all
Depends: tc-osgi-bundle-utils-interfaces-${utils.interfaces.version}
Maintainer: Collonville Thomas <collonville.thomas@gmail.com>
Homepage: <https://collonvillethomas.freeboxos.fr/apt/depots/>
Description: Bundle outils generique osgi