<?xml version="1.0" encoding="UTF-8"?>
<settings
  xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>home-maven</id>
      <username>${jenkins-username}</username>
      <password>${jenkins-pwd}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>compiler</id>
      <properties>
        <jenkins-url>http://collonvillethomas.freeboxos.fr:58153</jenkins-url>
        <SETTINGS_JAVA_HOME>${JAVA_HOME}</SETTINGS_JAVA_HOME>
      </properties>
    </profile>
    <profile>
      <id>home-maven</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>home-maven</id>
          <name>home-maven</name>
          <url>http://collonvillethomas.freeboxos.fr:8888/nexus/content/groups/public/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>home-maven</activeProfile>
    <activeProfile>compiler</activeProfile>
  </activeProfiles>
</settings>
