Package: ${project.artifactId}-${build}
Version: ${versiontimestamp}
Section: base
Priority: optional
Architecture: all
Maintainer: Collonville Thomas <collonville.thomas@gmail.com>
Homepage: <https://collonvillethomas.freeboxos.fr/apt/depots/>
Description: Bundle interface outils generique osgi