Package: ${project.artifactId}
Version: ${versiontimestamp}
Section: base
Priority: optional
Architecture: all
Optionnal: openjdk-25-jre
Depends: tc-osgi-bundle-utils-${utils.version}, tc-osgi-bundle-utils-interfaces-${utils.interfaces.version}
Maintainer: Collonville Thomas <collonville.thomas@gmail.com>
Homepage: <https://collonvillethomas.freeboxos.fr/apt/depots/>
Description: Conteneur applicatif osgi