Package: ${project.artifactId}
Version: ${versiontimestamp}
Section: base
Priority: optional
Architecture: all
Optionnal: openjdk-8-jre | sun-java8-jre | openjdk-9-jre | sun-java9-jre  
Depends: tc-osgi-bundle-utils-${utils.version}, tc-osgi-bundle-utils-interfaces-${utils.interfaces.version}
Maintainer: Collonville Thomas <collonville_tom@yahoo.fr>
Homepage: <http://collonville.thomas.free.fr>
Description: Conteneur applicatif osgi